<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
</head>

<body>
    <h2>View Your Video</h2>
    <div id="vid">
        <video src="/{{post.video}}" type="video/mp4" controls></video>
    </div>

    <div>
        Post Title: {{Post.title}}
    </div>

    <div>
        Post Author: {{post.username}}
    </div>

    <div>
        Post Creation Time: {{date post.createdAt}}
    </div>

    <div>
        Post Description: {{post.description}}
    </div>


    <div>
        Comment Section:
        <div>
            <input type="text" id="comments">
        </div>
    </div>
</body>

</html>